
@{
    ViewData["Title"] = "Trang cá nhân";
}
<div class="page-header">
    <img src="~/resource/User/pageheader.jpg" />
    <div class="page-header-name">
        <h2>Trần Đình Linh</h2>
    </div>
</div>
<div class="page-content">
    <div class="col-3 nav-page-left">
        <h4>THÔNG TIN CÁ NHÂN</h4>
        <div class="page-avatar">
            <img src="~/resource/User/avatar.jpg" />
        </div>
        <div class="page-info">
            <div class="icon check-mark-icon"></div>
            <span class="pet-old p-2">Ngày sinh: 24/12/1993</span>
        </div>
        <div class="page-info">
            <div class="icon check-mark-icon"></div>
            <span class="pet-old p-2">24 tháng tuổi</span>
        </div>
        <div class="page-info">
            <div class="icon check-mark-icon"></div>
            <span class="pet-old p-2">Giới tính: Nam</span>
        </div>
        <div class="page-info1">
            <h5>Giới thiệu</h5>
            <p>Petto Việt Nam là một thương hiệu dành riêng cho thú cưng. Nơi cung cấp đầy đủ các dịch vụ, sản phẩm, thông tin đến thú cưng.</p>
        </div>
    </div>
    <div class="col-9 nav-page-right">
        <h4>THÔNG TIN THÚ CƯNG</h4>
        <div class="page-overview">
            <div class="overview-item">
                <img class="icon cat-icon" />
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>