
@{
    ViewData["Title"] = "ForgotPassword";
}
<form action="" class="form-reset logreg-forms">
    <b>Tìm tài khoản của bạn</b>
    <hr />
    <p>Vui lòng nhập email hoặc số điện thoại để tìm kiếm tài khoản.</p>
    <input type="email" id="resetEmail" class="form-control" placeholder="Email hoặc số điện thoại" required="" autofocus="">
    <hr />
    <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
    <a href="@Url.Action("Register", "Account")" class="float-left text-primary"><i class="fas fa-angle-left"></i> Đăng ký tài khoản</a>
    <a href="@Url.Action("Login", "Account")" class="float-right"><i class="fas fa-angle-left"></i> Đăng nhập</a>
</form>


